In [2]:
import pandas as pd;

## Preparando os Datasets

In [3]:
import os
import pandas as pd

# Caminho para a pasta onde estão os arquivos .txt
pasta = "/Users/gabriel_goncalves/Downloads/aclImdb/train/pos"  # Pasta onde estão os arquivos (modifique conforme necessário)

# Lista todos os arquivos .txt na pasta
arquivos_txt = [f for f in os.listdir(pasta) if f.endswith('.txt')]

# Lista para armazenar os dados
dados = []

# Itera pelos arquivos .txt e processa os dados
for arquivo in arquivos_txt:
    caminho_completo = os.path.join(pasta, arquivo)
    with open(caminho_completo, 'r', encoding='utf-8') as f:
        conteudo = f.read()

        # Extraindo ID e rating do nome do arquivo
        partes_nome = arquivo.split('_')  
        id_unico = partes_nome[0]  
        rating = partes_nome[1].split('.')[0]  

        # Adiciona os dados no formato de dicionário
        dados.append({
            'id': id_unico,
            'rating': int(rating),  # Converte o rating para inteiro
            'conteudo': conteudo
        })

# Cria um DataFrame com os dados
df = pd.DataFrame(dados)

# Mostra o DataFrame
print(df)

          id  rating                                           conteudo
0       4715       9  For a movie that gets no respect there sure ar...
1      12390       8  Bizarre horror movie filled with famous faces ...
2       8329       7  A solid, if unremarkable film. Matthau, as Ein...
3       9063       8  It's a strange feeling to sit alone in a theat...
4       3092      10  You probably all already know this by now, but...
...      ...     ...                                                ...
12495   9707      10  About a year ago I finally gave up on American...
12496     35       8  When I saw the elaborate DVD box for this and ...
12497   6034      10  Last November, I had a chance to see this film...
12498   2780       9  Great movie -I loved it. Great editing and use...
12499    437       9  Enchanted April is a tone poem, an impressioni...

[12500 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        12500 non-null  object
 1   rating    12500 non-null  int64
 2   conteudo  12500 non-null  object
dtypes: int64(1), object(2)
memory usage: 293.1+ KB

In [5]:
df['id'] = df['id'].astype(int)

In [6]:
df_ordenado = df.sort_values(by="id", ascending=True)
df_ordenado = df_ordenado.reset_index(drop=True)
df_ordenado.head()

   id  rating                                           conteudo
0   0       9  Bromwell High is a cartoon comedy. It ran at t...
1   1       7  If you like adult comedy cartoons, like South ...
2   2       9  Bromwell High is nothing short of brilliant. E...
3   3      10  "All the world's a stage and its people actors...
4   4       8  FUTZ is the only show preserved from the exper...

In [7]:
df_ordenado["is_pos"] = 1

In [8]:
df_ordenado

,id,rating,conteudo,is_pos
0,0,9,Bromwell High is a cartoon comedy. It ran at t...,1
1,1,7,"If you like adult comedy cartoons, like South ...",1
2,2,9,Bromwell High is nothing short of brilliant. E...,1
3,3,10,"""All the world's a stage and its people actors...",1
4,4,8,FUTZ is the only show preserved from the exper...,1
...,...,...,...,...
12495,12495,7,What's Good About It: Some inventive and genui...,1
12496,12496,8,For years we've been watching every horror fil...,1
12497,12497,10,If you haven't already seen this movie of Mary...,1
12498,12498,10,this movie is the best movie ever it has a lot...,1
12499,12499,7,I always feel strange and guilty saying it (be...,1

In [9]:
df_ordenado.drop(axis=1,labels="id",inplace=True)
df_ordenado.head()

   rating                                           conteudo  is_pos
0       9  Bromwell High is a cartoon comedy. It ran at t...       1
1       7  If you like adult comedy cartoons, like South ...       1
2       9  Bromwell High is nothing short of brilliant. E...       1
3      10  "All the world's a stage and its people actors...       1
4       8  FUTZ is the only show preserved from the exper...       1

In [10]:
import os
import pandas as pd

# Caminho para a pasta onde estão os arquivos .txt
pasta = "/Users/gabriel_goncalves/Downloads/aclImdb/train/neg"  # Pasta onde estão os arquivos (modifique conforme necessário)

# Lista todos os arquivos .txt na pasta
arquivos_txt = [f for f in os.listdir(pasta) if f.endswith('.txt')]

# Lista para armazenar os dados
dados = []

# Itera pelos arquivos .txt e processa os dados
for arquivo in arquivos_txt:
    caminho_completo = os.path.join(pasta, arquivo)
    with open(caminho_completo, 'r', encoding='utf-8') as f:
        conteudo = f.read()

        # Extraindo ID e rating do nome do arquivo
        partes_nome = arquivo.split('_')  
        id_unico = partes_nome[0]  
        rating = partes_nome[1].split('.')[0]  

        # Adiciona os dados no formato de dicionário
        dados.append({
            'id': id_unico,
            'rating': int(rating),  # Converte o rating para inteiro
            'conteudo': conteudo
        })

# Cria um DataFrame com os dados
df_neg = pd.DataFrame(dados)

# Mostra o DataFrame
print(df_neg)

          id  rating                                           conteudo
0       1821       4  Working with one of the best Shakespeare sourc...
1      10402       1  Well...tremors I, the original started off in ...
2       1062       4  Ouch! This one was a bit painful to sit throug...
3       9056       1  I've seen some crappy movies in my life, but t...
4       5392       3  "Carriers" follows the exploits of two guys an...
...      ...     ...                                                ...
12495   3307       3  My comments may be a bit of a spoiler, for wha...
12496   2240       4  The "saucy" misadventures of four au pairs who...
12497  11556       1  Oh, those Italians! Assuming that movies about...
12498   4617       3  Eight academy nominations? It's beyond belief....
12499   9788       3  Not that I dislike childrens movies, but this ...

[12500 rows x 3 columns]

In [11]:
df_neg['id'] = df_neg['id'].astype(int)
df_ordenado_neg = df_neg.sort_values(by="id", ascending=True)
df_ordenado_neg = df_ordenado_neg.reset_index(drop=True)
df_ordenado_neg["is_pos"] = 0

In [12]:
df_ordenado_neg.drop(axis=1,labels="id",inplace=True)
df_ordenado_neg.head()

   rating                                           conteudo  is_pos
0       3  Story of a man who has unnatural feelings for ...       0
1       1  Robert DeNiro plays the most unbelievably inte...       0
2       1  I saw the capsule comment said "great acting."...       0
3       4  If I had not read Pat Barker's 'Union Street' ...       0
4       4  This fanciful horror flick has Vincent Price p...       0

In [13]:
df_teste = pd.concat([df_ordenado, df_ordenado_neg], axis=0)
df_teste.describe()

             rating       is_pos
count  25000.000000  25000.00000
mean       5.477720      0.50000
std        3.466477      0.50001
min        1.000000      0.00000
25%        2.000000      0.00000
50%        5.500000      0.50000
75%        9.000000      1.00000
max       10.000000      1.00000

## Limpeza dos textos

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
#import SentenceTransformer

In [15]:
# Carregar o dataset
# Substitua pelo caminho do dataset
# Exemplo de dataset: colunas "review" e "label" (onde "label" é positiva/negativa)


# Dividir o dataset em treino e teste
X = df_teste['conteudo']
y = df_teste['is_pos']  # Supondo que 'label' contém "positive" ou "negative"
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,shuffle=True)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sentence_transformers import SentenceTransformer

# Carregar o modelo Sentence Transformer
model = SentenceTransformer('all-MiniLM-L6-v2')

# Gerar embeddings para o conjunto de treino e teste
train_embeddings = model.encode(X_train.tolist(), convert_to_tensor=True)
test_embeddings = model.encode(X_test.tolist(), convert_to_tensor=True)